doctype html
html
  head
    meta(charset="utf-8")
    title D - Static site boilerplate
    include includes/head
  body
    h1 D Static Site Boilerplate
    a(href="#") link
    img(src="blank.gif")
    script(src="js/bundle.js")
