doctype html
html
  head
    title Static site boilerplate
    include includes/head
  body
    h1 Static Site Boierplate
    script(src="bundle.js")
    script(src="//localhost:35729/livereload.js")
