doctype html
html
  head
    meta(charset="utf-8")
    title Static site boilerplate
    include includes/head
  body
    h1 Static Site Boierplate
    a(href="#") link
    img(src="blank.gif")
    script(src="js/bundle.js")
    script(src="//localhost:35729/livereload.js")
